<footer>
  <p>
    &copy; 2024
    <a
      href="https://github.com/danielxfeng/top_message_board"
      target="_blank"
      rel="noopener noreferrer"
    >
      Fancy Message Board</a
    >
  </p>
  <p>Made by ❤️<em>Daniel</em>❤️</p>
</footer>
