<!-- messages.ejs -->
<div class="message">
  <h3><%= msg.title %></h3>
  <p class="text"><%= msg.text %></p>
  <p class="author"><%= msg.author %></p>
  <p class="datetime"><%= msg.dt.toLocaleString() %></p>
</div>
